<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/container.css">
    <link rel="stylesheet" href="./style/header.css">
    <title>Impressoras - HRA</title>
</head>
<body>
    <!--LOGO e TITULO -->
    <div class="header">
        <span>EMPRESA e LOGO</span>
    </div>
    <!--MENU-->
    <div class="container-tab">
        <ul class="tabs">
            <li>
                <a href="#" id="dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#" id="cadastro">Cadastro</a>
            </li>
            <li>
                <a href="#" id="relatorio">Relatório</a>
            </li>
        </ul>
    </div>
    <!--Conteudo do Cadastro -->
    <div id="container_cadastro" class="container cadastro">
        CADASTRO
    </div>
    <!--Conteudo do Relatório -->
    <div id="container_relatorio" class="container relatorio">
        MEUS OVOS
    </div>
    <!--Conteudo Dashboard -->
    <div id="container_dashboard" class="container dashboard">
        DASHBOARD
    </div>
    <script src="index.js"></script>
</body>
</html>