body{
    background-color: whitesmoke;
    padding: 0%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
    background-color: rgba(27, 27, 27, 0.699);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid silver;
    display: flex;
    width: 98%;
    border-radius: 8px;
}

#lst{
    margin-left: 3vh;
    margin-right: 6vh;
    margin-top: 2.2vh;
}

#listaTitulo{
    color: white;
    text-align: center;
    margin-bottom: 1vh;
    font-size: larger;
}

.container .lista{
    border: 2px solid orange;
    height: 85vh;
    width: 130vh;
    color: white;
    overflow-y: scroll;
    border-radius: 4px;
}

.itens{
    border: 1px solid white;
    border-radius: 1px;
    display: flex;
}

.itens #hostname{
    padding-left: 10px;
    width: 240px;
}
.itens #modelo{
    width: 260px;
}
.itens #endereco{
    width: 210px;
}
.itens #status{
    color: greenyellow;
}
.container .status{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.status div{
    margin-right: 0px;
}

#alerta{
    color: red;
    margin: auto;
    text-align: center;
}

#atencao{
    color: yellow;
    margin: auto;
    text-align: center;
}

.container .alerta{
    border: 1px dashed red;
    height: 280px;
    width: 367px;
    color: red;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-radius: 6px;
}

.container .atencao{
    border: 1px dashed yellow;
    height: 280px;
    width: 367px;
    color: yellow;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-radius: 6px;
}

.printer{
    border: 1px solid white;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 8px;
}