body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    background-color: #759cb8;
    margin: auto;
    width: 98%;
    height: 88vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    color: #2c3e50;
    text-align: center;
    display: flex;
    background-color: #8098d3;
}

#dashboard_alertas{
    width: 70%;
    border-right: 2px solid black;
}

/*Estilizar a Lista de Impressoras*/

#titulo_lista{
    position: relative;
    top: 3%;
    font-size: larger;
    color: black;
}

.pesquisa{
    position: relative;
    border: 1px solid black;
    top: 3.9vh;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 4px
}

.lista{
    position: relative;
    top: 47%;
    transform: translateY(-50%);
    border: 1px solid black;
    border-radius: 2px;
    margin: 1px;
    overflow-y: scroll;
    height: 85%;
    width: 90%;
    margin: auto;
}

.lista::-webkit-scrollbar{
    display: none;
}

.lista_itens{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.lista_itens div{
    display: flex;
}

.lista_itens li{
    list-style: none;
}

#dashboard_lista{
    width: 30%;
}

.online{
    color: greenyellow;
}
.offline{
    color: red;
}

/*Estilizar a Tela de Alertas*/

#titulo_alerta{
    position: relative;
    top: 5%;
    font-size: 30px;
    color: black;
}

.alertas{
    position: relative;
    border: 5px solid darkred;
    max-width: 80%;
    width: fit-content;
    overflow-y: scroll;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    justify-content: center;
}
.alertas::-webkit-scrollbar{
    display: none;
}

.alertas .itens{
    
    margin: 15px;
    width: 20vh;
    height: 27.5vh;
    text-align: left;
    display: flex;
    border-radius: 12px;
    padding-bottom: 10px;
    padding-top: 5px;

}

.verde{
    border: 3px solid greenyellow;
}
.amarelo{
    border: 3px solid yellow;
}
.vermelho{
    border: 3px solid red;
}


.itens ul{
    margin: 0;
    padding: 0;
}

.itens ul span{
    position: relative;
    left: 5%;
    font-size: large;
    color: black;
}

.itens li{
    list-style: none;
    width: 18vh;
    left: 5%;
    border: 1px solid black;
    border-radius: 1px;
    text-align: center;
    justify-content: center;
    position: relative;
    color: white;
    height: 2.7vh;
    background-color: rgba(61, 61, 61, 0.658);
    z-index: -2;
}

.itens b{
    background-color: black;
    position: relative;
    display: flex;
    top: -2.9vh;
    z-index: -1;
}

#item_setor{
    position: relative;
    top: 2%;
    height: 30px;
    display: inline-table;
    width: 10px;
}

#item_ip{
    position: relative;
    top: 2%;
    
}

#sem_alerta{
    padding: 15px;
    font-size: larger;
}
